@charset "utf-8";

*{
    font-family: cursive sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, main{
    height: 100vh;
    width: 100vw;
}

body{
    background: url(../imagem/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width:312px;
    background: url(../imagem/frame-iphone.png) no-repeat;
}